{% extends "h5p/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
	<title>H5PP - Editor</title>
	{% if request.GET.title %}
		<style>
			.radio {
				display: none;
				background-color: #eee;
			}
		</style>
	{% endif %}

		<style>
			
			label{
			color: #e94e2f;
			}
		</style>
	<style type="text/css" media="all">
	{% for style in data.coreAssets.css %}
		@import url("{% static style %}");
	{% endfor %}
	</style>
	{% for script in data.coreAssets.js %}
		<script type="text/javascript" src="{% static script %}"></script>
	{% endfor %}
	{% for script in data.add %}
		<script type="text/javascript" src="{% static script %}"></script>
	{% endfor %}
	<script type="text/javascript">
		H5PIntegration = {% autoescape off %} {{data.editor}} {% endautoescape %}
	</script>
	<script>
		window.onload = function() {
			// document.getElementById('id_h5p_type_0').checked = true;


			document.getElementById('id_h5p_type_0').onclick = function() {
				document.getElementsByTagName('label')[4].style.display = 'inline-block';
				document.getElementById('id_h5p').style.display = 'inline-block';
				document.getElementsByClassName('ercheck1')[0].style.display = 'none';
				document.getElementsByTagName('label')[3].style.display = 'none';
				document.getElementsByClassName('h5p-editor-iframe')[0].style.display = 'none'
			}
			document.getElementById('id_h5p_type_1').onclick = function() {
				document.getElementsByTagName('label')[4].style.display = 'none';
				document.getElementById('id_h5p').style.display = 'none';
				document.getElementsByTagName('label')[3].style.display = 'inline-block';
				document.getElementsByClassName('h5p-editor-iframe')[0].style.display = 'inline-block';
			}
			ns.$('.h5peditor-form').hide();

			var fileInput = document.getElementById("id_h5p"),
			button = document.getElementsByClassName("upload-h5p")[0],
			result = document.getElementsByClassName("file-return")[0];

			button.addEventListener( "keydown", function(event) {
				if(event.keyCode == 13 || event.keyCode == 32) {
					fileInput.focus();
				}
			});
			button.addEventListener( "click", function(event) {
				fileInput.focus();
				return false;
			});
			fileInput.addEventListener( "change", function(event) {
				result.innerHTML = this.value;
			});
		}
	</script>
{% endblock head %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="#">{{ form.community_name }} Communities</a></li>
  <li class="breadcrumb-item active">Create a H5P Content</li>
{% endblock %}
{% block content %}
<div class="">
	<div class="form-group">
		<form method="post" enctype="multipart/form-data" id="h5p-content-form">
			{% csrf_token %}
			<label for="id_title" class="label_form"><b>Title</b></label>
			{% render_field form.title class="form-control" placeholder="Give a title to the content" %}
			{{ form.community_name }} 
			<br>
			<div class="radio form-check">
				<b style="color:#e94e2f;">Action</b>
				{% render_field form.h5p_type %}
				<style>
					#id_h5p_type{
						list-style: none;
						padding-left: 15px;
						padding-right: 15px;
					}
				</style>
			</div>
			<label for="h5p-editor-iframe" class="label_form">Content type editor :</label>
			<div class="h5p-editor">Waiting for javascript...</div>
			{{form.json_content}}
			{{form.disable}}
			{{form.h5p_library}}
			<br>
			<div class="file-container editor">
					<label for="id_h5p" class="btn btn-primary upload-h5p ercheck" tabindex="0">
						Upload H5P Package
						{% render_field form.h5p class="ercheck1" data-msg-placeholder="Select h5p content for upload..." style="display:none;" %}
					</label>
			</div>
			<p class="file-return"></p>
			<br>
			{% if not request.GET.contentId %}
				<input class="btn btn-primary" type="submit" id="submit_editor" value="Save">
			{% else %}
				<input class="btn btn-primary" type="submit" id="submit_editor" value="Save">
			{% endif %}
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
					<p>
								{{ form.non_field_errors }}
					</p>
			</div>
			{% endif %}
		</form>
	</div>
</div>
	<script>
	document.getElementsByClassName("form-group")[0].getElementsByTagName("ul")[0].classList.add("row");
	document.getElementsByClassName("form-group")[0].getElementsByTagName("li")[0].classList.add("form-control", "col-lg-6");
	document.getElementsByClassName("form-group")[0].getElementsByTagName("li")[0].style.borderBottom = "0px solid #ccc";
	document.getElementsByClassName("form-group")[0].getElementsByTagName("li")[0].style.color = "#000";
	document.getElementsByClassName("form-group")[0].getElementsByTagName("li")[1].style.color = "#000";
	document.getElementsByClassName("form-group")[0].getElementsByTagName("li")[1].classList.add("form-control", "col-lg-6");
	</script>
	<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
	<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
	<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
	<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
	<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}">
	</script>
{% endblock content %}

